// variables declarations
$primary-color: #182D55
$secondary-color: #FFFFFF
$accent: #6DE0FF
    
// defaults
*
    padding: 0px
    margin: 0px
    box-sizing: border-box

h1,h2,h3,h4,h5,h6,p,div,ul
    padding: 0px
    margin: 0px

ul
    list-style: none

// common stylings
.mybtn
    padding: 5px 20px
    border-radius: 10px
    color: $accent
    border: 1px solid $accent
    background-color: transparent
    transition: background-color 1s

    &:hover,&:disabled
        background-color: $accent
        color: $primary-color


// Navbar
.header
    background-color: $primary-color
    padding-block: 30px
    border-bottom: 1px solid $secondary-color

    .header-wrapper
        display: flex
        justify-content: center
        gap: 20px

        a
            text-decoration: none
            color: $secondary-color


// Register & Login page
.register,.login
    display: flex
    justify-content: center
    align-items: center
    height: 90vh
    color: $secondary-color
    background-color: $primary-color
    
    .container
        max-width: 700px
        
        .register-wrapper,.login-wrapper
            border: 1px solid $secondary-color
            padding: 80px 40px
            border-radius: 20px
            box-shadow: $secondary-color 0px 0px 6px 0px

            input
                background-color: transparent
                color: $secondary-color
                border: 1px solid $accent


// Home page
.recipies
    background-color: $primary-color
    color: $secondary-color
    padding-block: 50px
    .container
        .recipies-wrapper
            h1
                color: $accent
                text-shadow: 1px 1px 0 $accent
                text-align: center

            .recipe-list
                display: flex
                flex-direction: column
                justify-content: center
                margin-block: 20px
                .recipe
                    display: flex
                    justify-content: center
                    
                    .recipe-box
                        width:400px
                        border-block: 1px solid $accent
                        padding:30px 10px
                        .recipe-header
                            display: flex
                            justify-content: space-between
                            align-items: center
                        .instructions
                            margin-block: 20px
                        .recipe-img
                            width: 100%
                            height: 300px
                            object-fit: cover
                            border-radius: 10px
